/* Let's make some of the MCD's style global for funsies */
* {
  --mcdgrey: #3a3838;
  --mcdwhite: #f2f2f2;
  --mcdhalfgrey: #d0cece;
  --rnlaforange: #ffc000;
  --mcdred: #ff0000;
  --mcdred-bg: #fce4d6;
  --mcd-page: #ffff00;

  font-family: "Bahnschrift";
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  box-sizing: border-box;
  align-items: center; /* Vertically center */
}

.dropdown {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none;
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.mcdpage {
  border: 1px solid black;
  background-color: var(--mcdwhite);
  max-width: 768px;
  max-height: 1024px;
  width: 768px;
  height: 1024px;
  color: black;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  white-space: nowrap;
}

.mcdpage::after {
  height: 100%;
}

.border {
  border: 1px solid black;
}

.child {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textbox {
  min-width: 0;
  min-height: 0;

  word-wrap: break-word;
  max-width: 100%;
  white-space: pre-line;
  resize: none;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.pagenr {
  background-color: var(--mcd-page);
  grid-column: span 3;
}

.header {
  background-color: var(--mcdgrey);
  color: var(--mcdwhite);
  grid-column: span 29;
}
.mcd-s-1 {
  grid-column: span 1;
}
.mcd-s-2 {
  grid-column: span 2;
}
.mcd-s-3 {
  grid-column: span 3;
}
.mcd-s-4 {
  grid-column: span 4;
}
.mcd-s-5 {
  grid-column: span 5;
}
.mcd-s-6 {
  grid-column: span 6;
}
.mcd-s-7 {
  grid-column: span 7;
}
.mcd-s-8 {
  grid-column: span 8;
}
.mcd-s-9 {
  grid-column: span 9;
}
.mcd-s-10 {
  grid-column: span 10;
}
.mcd-s-11 {
  grid-column: span 11;
}
.mcd-s-12 {
  grid-column: span 12;
}
.mcd-s-13 {
  grid-column: span 13;
}
.mcd-s-14 {
  grid-column: span 14;
}
.mcd-s-15 {
  grid-column: span 15;
}
.mcd-s-16 {
  grid-column: span 16;
}
.mcd-s-17 {
  grid-column: span 17;
}
.mcd-s-18 {
  grid-column: span 18;
}
.mcd-s-19 {
  grid-column: span 19;
}
.mcd-s-20 {
  grid-column: span 20;
}
.mcd-s-21 {
  grid-column: span 21;
}
.mcd-s-22 {
  grid-column: span 22;
}
.mcd-s-23 {
  grid-column: span 23;
}
.mcd-s-24 {
  grid-column: span 24;
}
.mcd-s-25 {
  grid-column: span 25;
}
.mcd-s-26 {
  grid-column: span 26;
}
.mcd-s-27 {
  grid-column: span 27;
}
.mcd-s-28 {
  grid-column: span 28;
}
.mcd-s-29 {
  grid-column: span 29;
}
.mcd-s-30 {
  grid-column: span 30;
}
.mcd-s-31 {
  grid-column: span 31;
}
.mcd-s-32 {
  grid-column: span 32;
}
.mcd-s-col {
  grid-column: span 32;
}
.mcd-row-1 {
  grid-row: span 1;
}
.mcd-row-2 {
  grid-row: span 2;
}
.mcd-row-3 {
  grid-row: span 3;
}
.mcd-row-4 {
  grid-row: span 4;
}
.mcd-row-5 {
  grid-row: span 5;
}
.mcd-row-6 {
  grid-row: span 6;
}
.mcd-row-7 {
  grid-row: span 7;
}
.mcd-row-8 {
  grid-row: span 8;
}
.mcd-row-9 {
  grid-row: span 9;
}
.mcd-row-10 {
  grid-row: span 10;
}
.mcd-row-16 {
  grid-row: span 16;
}
.mcd-row-26 {
  grid-row: span 26;
}

.text-rotate-left {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
.text-rotate-right {
  writing-mode: tb-rl;
}
.mcd-bow {
  color: black;
  background-color: var(--mcdwhite);
  font-weight: 600;
}
.mcd-bog {
  color: black;
  background-color: var(--mcdhalfgrey);
  font-weight: 600;
}

.mcd-wog {
  color: var(--mcdwhite);
  background-color: var(--mcdgrey);
}

.roehead {
  color: black;
  background-color: var(--mcdred);
}

.roe {
  background-color: var(--mcdred-bg);
}
.mcd-rnlaf313 {
  background-color: var(--mcdgrey);
  color: var(--rnlaforange);
  grid-column: span 20;
  grid-row: span 2;
  font-size: calc(1020px / 23);
  text-align: center;
  vertical-align: middle;
}
