/* Let's make some of the MCD'--mcd-text-colors style global for funsies */
.logo13 {
  background-image: url("../images/logo_cjtf13.png");
  background-size: contain;
  background-origin: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  background-image: url("../images/logo_16aew.png");
  background-size: contain;
  background-origin: inherit;
  background-repeat: no-repeat;
  background-position: left top;
}

html {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
